@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.weatherContent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #a8dadc;
    
}

.inputWeather{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputWeather input{
    margin-right: -3rem;
    flex:1;
    border-radius: 12px;
    max-width: 420px;
    min-width: 120px;
    height: 36px;
    padding: 0.7rem 1rem;
    border: 1.5px solid #f4f2f2;
    background-color: #f4f2f2;
    outline: none;
    cursor: text;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1em;
}

.inputWeather button{    
    margin-top: .1em;
    font-size: 32px;
    color: #dee2e6;
    background-color: #f4f2f2;
    border: none;
    cursor: pointer;
}

.cardInfo{
    border-radius: 12px;
    margin: 24px;
    overflow: visible;
    max-width: 580px;
    max-height: 620px;
    padding: .8em;
    background: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Roboto', sans-serif;
    animation: slide-bottom 1s;
}

.cardInfo h2{
    font-weight: 300;
}

.cardInfo img{
    position: relative;
    max-height: 300px;
    max-width: 300px;
    border-radius: .5rem;
}

.iconWeather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin: 4px;
}

.iconWeather img{
    max-height: 70%;
    max-width: 70%;
}

.iconWeather p{
    font-weight: 700;
    font-size: 2em;
    display: flex;
}

.spaceDiv{
    border-top: 1px solid #e5e5e5;
}

.loading{
    margin: 16px;
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.alert{
    color: #e63946;
    font-weight: bold;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes slide-bottom{0%{transform:translateY(-20px)}100%{transform:translateY(0px)}}