.weatherContent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #a8dadc;
}

.inputWeather{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputWeather input{
    margin-left: 4em;
    flex:1;
    border-radius: 12px;
    max-width: 420px;
    min-width: 120px;
    height: 36px;
    padding: 8px;
    border: 1.5px solid lightgrey;
    outline: none;
    cursor: text;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1em;
}

.inputWeather button{
    padding: 0px 10px 0px 10px;
    margin-right: 1em;
    font-size: 32px;
    color: #f8f9fa;
    background:none;
    border: transparent;
    cursor: pointer;
}

.cardInfo{
    display: flex;
    max-height: 20%;
    max-width: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
